@import url('./fonts/font.css');

body {
    font-family: 'WorkSans';
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
/*entire header contents */
.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(45deg,rgb(157, 221, 213) 30%, rgb(196, 141, 241));
}

/*selects title */
.page-header h4{
    font-family: "Syne";
    font-variation-settings: 'wght' 800;
}
/* selects the ul from the nav */
.page-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* selects the links <a> tags */
.page-header a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: rgb(16, 12, 21);
}